dist: trusty
git:
  # use depth 2 just in case two refs get pushed at once (like a tag)
  depth: 2
language: ruby
rvm:
- &release_ruby 2.6.5
- 2.5.7
- 2.4.9
- &oldest_ruby 2.3.8
matrix:
  include:
  - rvm: jruby-9.2.8.0
    env: JRUBY_OPTS='--dev'
  - rvm: jruby-9.1.17.0
    env: JRUBY_OPTS='--dev'
  - rvm: *oldest_ruby
    env: ROUGE_VERSION='~> 2.0.0'
  - rvm: truffleruby-19.2.0
    # run against TruffleRuby nightly
    if: type = cron
    env:
    # use 3g to avoid OutOfMemoryError when running the tests suite against TruffleRuby
    - TRUFFLERUBYOPT="--vm.Xmx3g"
env:
  global:
  # use system libraries to speed up installation of nokogiri
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
  - PYGMENTS_VERSION='~> 1.2.0'
  - SOURCE_DATE_EPOCH=1521504000
script: bundle exec rake coverage test:all
after_success: bundle exec rake build:dependents
#notifications:
#  email: false
#  irc: 'irc.freenode.org#asciidoctor'
deploy:
  provider: rubygems
  gem: asciidoctor
  api_key: ${RUBYGEMS_API_KEY}
  on:
    tags: true
    repo: asciidoctor/asciidoctor
    rvm: *release_ruby
