sudo: false
git:
  depth: 1
language: ruby
rvm:
  - 2.4.0
  - 2.3.3
  - 2.2.6
  - 2.1.10
  - 2.0.0
  - 1.9.3
  - 1.8.7
  - jruby-9.0.5.0
  - jruby-9.1.6.0
  - jruby-19mode # based on jruby-1.7.19
  - jruby-18mode # based on jruby-1.7.19
  #- rbx-3 # NOTE not currently recognized
#before_install: rvm list known
env:
  global:
    # use system libraries to speed up installation of nokogiri
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
script: bundle exec rake coverage test:all
after_success: bundle exec rake build:dependents
notifications:
  email: false
  #irc: 'irc.freenode.org#asciidoctor'
