sudo: false
git:
  depth: 1
language: ruby
rvm:
  - 2.3.1
  - 2.2.5
  - 2.1.10
  - 2.0.0
  - 1.9.3
  - 1.8.7
  - jruby-9.0.5.0
  - jruby-9.1.2.0
  - jruby-19mode # based on jruby-1.7.19
  - jruby-18mode # based on jruby-1.7.19
  #- rbx-3.60 # NOTE not working currently
script: bundle exec rake coverage test:all
notifications:
  email: false
  #irc: 'irc.freenode.org#asciidoctor'
