language: ruby
rvm:
  - 2.0.0
  - 1.9.3
  - 1.8.7
  - jruby-19mode
  - rbx-18mode
# Travis has something screwy w/ rbx 1.9 right now
#  - rbx-19mode
#script: rake test test_us_ascii
notifications:
  irc: "irc.freenode.org#asciidoctor"
