<div<%= @id && %( id="#{@id}") %> class="<%= ['openblock',(@style == 'open' ? nil : @style),role].compact * ' ' %>"><%
  if title? %>
<div class="title"><%= title %></div><%
  end %>
<div class="content">
<%= content %>
</div>
</div>
